.home {
  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
      width: 95%;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3rem 0;
      @media screen and (max-width: 960px) {
        padding: 8rem 5rem 8rem 0;
      }
      @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
        padding: 3rem 0;
        gap: 2rem;
        .hero-text {
          h1 {
            font-size: 1.6rem;
            line-height: 31px;
          }
          p {
            font-size: 18px;
          }
          div {
            width: 100%;
            flex-direction: column;
            button {
              width: 100%;
            }
          }
        }
      }
    }
    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      h1 {
        font-weight: 700;
        font-size: 2rem;
        line-height: 38px;
        display: flex;
        align-items: center;
        color: $black;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: $gray;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        button {
          padding: 0.5rem 1.125rem;
          border: 2px solid $red;
          background: $red;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          border-radius: 0.5rem;
          transition: 0.3s ease;
          span {
            font-weight: 500;
            display: inline-block;
          }
          &:first-child {
            span {
              color: #ffffff;
            }
            &:hover {
              opacity: 0.8;
            }
          }
          &:last-child {
            background: #fff;
            border-color: $red;
            span {
              color: $red;
            }
            &:hover {
              background: rgba($color: $red, $alpha: 0.05);
            }
          }
        }
      }
    }
  }
}

.home {
  .join {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $red;
    padding: 1.5rem 0;
    &__container {
      width: 95%;
      max-width: 1280px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      @media screen and (max-width: 700px) {
        align-items: flex-start;
        gap: 1rem;
        flex-direction: column;
      }
    }
    p {
      text-align: left;
      z-index: 2;
      color: #fff;
      @media screen and (max-width: 478px) {
        text-align: left;
      }
    }
    &-subscribe {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex-shrink: 0;
      z-index: 2;
      @media screen and (max-width: 478px) {
        flex-direction: column;
        width: 100%;
        button,
        input {
          width: 100%;
        }
      }
      button {
        padding: 0.5rem 1.125rem;
        border: 2px solid #fff;
        background: #fff;
        cursor: pointer;
        border-radius: 0.5rem;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        span {
          display: inline-block;
          font-weight: 500;
          color: $red;
        }
      }
      input {
        overflow: hidden;
        outline: none;
        padding: 0.6rem 1rem;
        border: 1px solid #ffffff99;
        font-weight: 300;
        font-size: 14px;
        cursor: pointer;
        border-radius: 0.5rem;
        color: #ffffff99;
        flex-grow: 1;
        background: none;
        &:focus {
          border-color: #ffffff99;
        }
        &::placeholder {
          color: #ffffff99;
        }
      }
    }
  }
}

.home {
  .main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    height: 600px;
    @media screen and (max-width: 1200px) {
      height: 500px;
    }
    @media screen and (max-width: 1100px) {
      height: 450px;
    }
    @media screen and (max-width: 900px) {
      height: auto;
    }
    &__container {
      width: 95%;
      max-width: 1280px;
      gap: 0rem;
      @media screen and (max-width: 600px) {
        .main-image {
          display: none;
        }
        .main-text {
          width: 100%;
          padding: 0;
        }
      }
    }
    &-image {
      position: absolute;
      width: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 50%;
        object-fit: cover;
      }
      @media screen and (max-width: 900px) {
        position: static;
      }
    }
    &-text {
      padding: 3rem;
      flex-shrink: 0;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      h2 {
        color: $red;
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        font-weight: 500;
        span {
          font-weight: 400;
          color: $gray;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          span {
            font-weight: 400;
          }
        }
      }
      input {
        width: 60%;
        background: #e4e4e7;
        border: 1px solid #9fa6b2;
        color: #9fa6b2;
        border-radius: 4px;
        overflow: hidden;
        outline: none;
        padding: 0.5rem 1rem;
        font-weight: 400;
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
      button {
        border: 2px solid #fee2e2;
        background: #fee2e2;
        color: $red;
        font-weight: 500;
        padding: 0.65rem 0.8rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          border-color: rgba($color: $red, $alpha: 0.5);
        }
      }
    }
  }

  .main.one {
    .main__container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: 900px) {
        padding: 2rem 0;
        align-items: flex-start;
        .main-text {
          padding-top: 0;
        }
      }
    }
    .main-text {
      width: 100%;
    }
    .main-image {
      border-radius: 0px 64px 0px 0px;
      left: 0;
    }
  }

  .main.two {
    .main__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media screen and (max-width: 900px) {
        padding: 2rem 0;
        align-items: flex-start;
        .main-text {
          padding-top: 0;
        }
      }
    }
    .main-image {
      border-radius: 0px 0px 0px 64px;
      right: 0;
    }
  }

  .main.three {
    .main__container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: 2rem;
      @media screen and (max-width: 900px) {
        padding: 2rem 0;
        padding-bottom: 4rem;
        align-items: flex-start;
        .main-text {
          padding-top: 0;
        }
      }
    }
    .main-image {
      border-radius: 0px 64px 0px 0px;
      left: 0;
    }
  }
}
